@font-face {
    font-family: pixelFont;
    src: url(fonts/DTM-Mono.otf);
}

p {
    font-family: pixelFont, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
    }
h1 {
    color: #00FF00;
    }
