@font-face {
    font-family: pixelFont;
    src: url(fonts/DTM-Mono.otf);
}

body {
    font-family: pixelFont;
    text-align: center;
    background-color: #48006a;
    color: #0e0024;


    /* Making the pixelated images smooth */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;

    /* Hero image */
    background-image: url("img/pixelated_background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

* {
    box-sizing:border-box;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 3vw;
}

a {
    color:#0e0024;
    font-size: 2vw;
}

.title {
    padding: 2vw;
}

.left {
    padding:20px;
    float:left;
    width:33.3%; /* The width is 20%, by default */
  }
  
.main {
    padding:20px;
    float:left;
    width:33.3%; /* The width is 60%, by default */
  }

.video-container {
    width: 60%;
    aspect-ratio: 16/9;
    margin: 0 auto;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.popup-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.popup-ad {
  position: relative;
  width: 66vw;              /* 66% of screen width */
  max-width: 1200px;        /* optional cap */
}

.popup-ad img {
  width: 100%;
  height: auto;             /* keeps proportions */
  display: block;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* Text overlay */
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: white;
  text-align: center;
  
  width: 80%;
  z-index: 2;
}

.overlay-text h2 {
  font-size: clamp(2rem, 4vw, 4rem);
  margin-bottom: 10px;
}

.overlay-text p {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

/* Bottom button image */
.button-link {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);

    width: 11.1%;
    transition: transform 0.2s ease;
}

.button-link img {
    width: 100%;
    display: block;
}

/* Hover effect */
.button-link:hover {
    transform: translateX(-50%) scale(1.05);
}


.right {
    padding:20px;
    float:left;
    width:33.3%; /* The width is 20%, by default */
  }
  
  /* Use a media query to add a break point at 800px: */
  @media screen and (max-width:1000px) {
   .left  , .main, .right {width:100%;}
  }

.frame {
    background-color: #48006a;
    padding: 0;
}

.frame img{
    background-image: url("img/image_holder.png");
    background-repeat: no-repeat;
    background-color: #8300cf;
    width: 100%
  }

.cv {
    width: 100%;
}
